.leaflet-container *,
.leaflet-container *:focus,
.leaflet-container *:hover {
  outline: none;
}

.leaflet-control .fa {
  font-size: 18px;
  vertical-align: middle;
}

.leaflet-touch .leaflet-control button {
  line-height: 26px;
}

.number-icon {
  background-size: 35px 48px;
  background-repeat: no-repeat;
  margin: 0 auto;
  text-align: center;
  color: #252525;
  font-weight: bold;
  line-height: 34px;
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
}

.marker-blue {
  background-image: url('assets/map/marker-blue.png');
}

.marker-nogoWaypoint {
  background-color: #f03e3e;
  border-radius: 50%;
  text-align: center;
}

.marker-location {
  background-color: #228be6;
  border-radius: 50%;
  text-align: center;
}

.nav-icon {
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

.marker-nav {
  background-image: url('assets/map/marker-nav.png');
}

.cursor-polyline {
  cursor: crosshair;
}
